html {
  scroll-behavior: smooth;
}

.anchor {
  display: block;
  position: relative;
  top: -80px;
  visibility: hidden;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f6f6f6;
  height: 300vh;
}

.page-content__wrapper {
  max-width: 1800px;
  margin: 0 auto;
}

.title {
  display: block;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 30px;
  text-align: center;
  margin: 30px 0;
  font-weight: 400;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 78vh;
  margin-top: 50px;
  background-image: url("/img/background/background-image.png");
  border-bottom: 0.5px solid black;
}

.logo__img {
  width: 100%;
  max-width: 450px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  background-color: #222;
  z-index: 10;
  -webkit-box-shadow: 2px 0 5px 5px #222;
          box-shadow: 2px 0 5px 5px #222;
}

.menu__list {
  position: fixed;
  top: 50px;
  right: -100%;
  width: 60vw;
  height: 100vh;
  background-color: #222;
  list-style: none;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.menu__list--active {
  right: 0;
}

.menu__item {
  padding: 20px 20px;
}

.menu__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #f6f6f6;
  font-weight: 400;
  letter-spacing: 3px;
}

.burger {
  position: absolute;
  top: 50%;
  right: 30px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 20px;
}

.burger__line {
  display: block;
  top: 50%;
  width: 30px;
  height: 5px;
  background-color: #f6f6f6;
  margin: 5px 0;
}

@media screen and (min-width: 767px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: static;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    width: 100%;
    list-style: none;
    text-decoration: none;
  }
  .menu__list:last-child {
    margin: 0 50px 0 0;
  }
  .menu__item {
    padding: 10px;
    margin: 0 10px;
    border-bottom: 1px solid transparent;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .menu__item:hover {
    border-bottom: 1px solid #f6f6f6;
  }
  .menu__link {
    text-decoration: none;
    text-transform: uppercase;
    color: #f6f6f6;
    padding: 5px 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border-bottom: 1px solid transparent;
    letter-spacing: 3px;
  }
  .menu .burger {
    display: none;
  }
  .menu .menu-desktop__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.offer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  position: relative;
  padding-inline: 20px;
}

.offer__container {
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
  margin: 0 auto;
  gap: 30px;
  margin-block: 30px;
}

.offer__service {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  position: relative;
  height: 30vh;
  background-color: #e7e5e5;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.offer__service::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 0;
  height: 50px;
  background-color: black;
  opacity: 0.1;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.offer__service:hover, .offer__service:active {
  -webkit-box-shadow: 1px 1px 5px 1px #808080;
          box-shadow: 1px 1px 5px 1px #808080;
}

.offer__service:hover::after, .offer__service:active::after {
  width: 100%;
}

.offer__description {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 2vw;
  color: white;
  z-index: 1;
}

.price-list__wrapper {
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: #e7e5e5;
  margin-top: 5px;
  -webkit-box-shadow: 1px 1px 5px 1px #808080;
          box-shadow: 1px 1px 5px 1px #808080;
  overflow: hidden;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.price-list__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-column-gap: 150px;
          column-gap: 150px;
  list-style: none;
  height: 100%;
}

.price-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 300px;
  margin: 15px 0;
}

@media screen and (min-width: 794px) {
  .offer__wrapper {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .offer__container {
    -ms-flex-preferred-size: 22%;
        flex-basis: 22%;
    margin-bottom: 20px;
  }
  .offer__service {
    height: 15vw;
  }
  .offer__description {
    font-size: 0.8vw;
  }
  .price-list {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .price-list__wrapper {
    -ms-flex-preferred-size: unset;
        flex-basis: unset;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */