* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f6f6f6;
  height: 300vh;
}

.title {
  display: block;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 30px;
  text-align: center;
  margin: 30px 0;
  font-weight: 400;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 78vh;
  margin-top: 50px;
  background-image: url("/img/background/background-image.png");
  border-bottom: 0.5px solid black;
}

.logo__img {
  width: 100%;
  max-width: 350px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  background-color: #222;
  z-index: 10;
  -webkit-box-shadow: 2px 0 5px 5px #222;
          box-shadow: 2px 0 5px 5px #222;
}

.menu-mobile__list {
  position: fixed;
  top: 50px;
  right: -100%;
  width: 60vw;
  height: 100vh;
  background-color: #222;
  list-style: none;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.menu-mobile__list--active {
  right: 0;
}

.menu-mobile__item {
  padding: 20px 10px;
}

.menu-mobile__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #f6f6f6;
  font-weight: 400;
  letter-spacing: 3px;
}

.menu-desktop__list {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  text-decoration: none;
}

.menu-desktop__list:last-child {
  margin: 0 50px 0 0;
}

.menu-desktop__item {
  padding: 10px;
  margin: 0 10px;
  border-bottom: 1px solid transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu-desktop__item:hover {
  border-bottom: 1px solid #f6f6f6;
}

.menu-desktop__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #f6f6f6;
  padding: 5px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-bottom: 1px solid transparent;
  letter-spacing: 3px;
}

.burger {
  position: absolute;
  top: 50%;
  right: 30px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 20px;
}

.burger__line {
  display: block;
  top: 50%;
  width: 30px;
  height: 5px;
  background-color: #f6f6f6;
  margin: 5px 0;
}

@media screen and (min-width: 767px) {
  .menu-mobile__list {
    display: none;
  }
  .burger {
    display: none;
  }
  .menu-desktop__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.offer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.offer__container {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 22%;
      flex-basis: 22%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  margin-bottom: 30px;
  position: relative;
  height: 230px;
  width: 330px;
  background-color: #e7e5e5;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.offer__container::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 0;
  height: 50px;
  background-color: black;
  opacity: 0.1;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.offer__container:hover, .offer__container:active {
  -webkit-box-shadow: 1px 1px 5px grey;
          box-shadow: 1px 1px 5px grey;
}

.offer__container:hover::after, .offer__container:active::after {
  width: 100%;
}

.offer__description {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 12px;
  color: white;
  z-index: 1;
}

.service--active .service__wrapper {
  height: 410px;
}

.service__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 96vw;
  height: 410px;
  background-color: #e7e5e5;
  margin: 20px auto;
  -webkit-box-shadow: 1px 1px 5px grey;
          box-shadow: 1px 1px 5px grey;
  overflow: hidden;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

.service__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-column-gap: 150px;
          column-gap: 150px;
  padding: 30px;
  list-style: none;
  height: 100%;
}

.service__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 300px;
  margin: 15px 0;
}

@media screen and (max-width: 1024px) {
  .offer__container {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
}

@media screen and (max-width: 768px) {
  .offer__container {
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
  }
}
/*# sourceMappingURL=style.css.map */