//----- variables
@import "variables/_variables.scss";

//----- mixins
@import "mixins/_mixins.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: $color-grey-light;
    height: 300vh;
}



//----- components
@import "components/_logo.scss";
@import "components/_about.scss";
@import "components/_menu.scss";
@import "components/_info.scss";
@import "components/_offer.scss";
