.offer {
    &__wrapper {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 30px;
        position: relative;
        // width: 100%;
        padding-inline: 20px;
    }

    &__container {
        flex-basis: 90%;
        margin: 0 auto;
        gap: 30px;
        margin-block: 30px;

    }

    &__service {
        flex-grow: 0;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        position: relative;
        height: 30vh;
        background-color: $color__grey;

        transition: 0.7s;

        &::after {
            content: " ";
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 0;
            height: 50px;
            background-color: black;
            opacity: 0.1;
            transition: all 0.7s ease;
            // transition-delay: 0.5s;
        }

        &:hover,
        &:active {
            box-shadow: $box-shadow--natural;

        }

        &:hover::after,
        &:active::after {
            width: 100%;
        }

        &--hands {
        }

        &--face {
        }

        &--eyes {
        }

        &--packages {
        }
    }

    &__description {
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 2vw;//12px;
        color: white;
        z-index: 1;
    }
}

.price-list {
    &--active {

    }

    &__wrapper {
        flex-basis: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        // justify-content: center;
        // width: 100%;//95vw;
        height: max-content;
        background-color: $color__grey;
        margin-top: 5px;
        box-shadow: $box-shadow--natural;
        overflow: hidden;
        transition: 0.5s all ease;
    }

    &__list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        // justify-content: center;
        align-content: flex-start;
        column-gap: 150px;
        // padding: 30px;
        list-style: none;
        height: 100%;
        // transition: 0.5s all ease;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        width: 300px;
        margin: 15px 0;
    }
}

@media screen and (min-width: 794px) {
    .offer {
        &__wrapper {
            justify-content: space-around;
        }

        &__container {
            flex-basis: 22%;
            margin-bottom: 20px;
        }

        &__service {
            height: 15vw;
        }

        &__description {
            font-size: 0.8vw;
        }
    }
    .price-list {
        order: 1;
        &__wrapper {
            flex-basis: unset;

            order: 1;
            width: 100%;
        }
    }
}

// @media screen and (min-width: 768px) {
//     .offer {
//         &__container {
//             flex-basis: 45%;
//         }
//     }
//     .service {
//     }
// }
